config.conf
node_modules/
readme/
uploads/
public/chats/
public/characters/
public/rooms/
public/System Prompts/
public/User Avatars/
public/setings.json
!public/chats/City Explorer (Story)/1687599323821.jsonl
!public/characters/Aqua.png
!public/characters/City Explorer (Story).png
!public/characters/Darkness.png
!public/characters/Megumin.png
!public/characters/folders.json
!public/rooms/Konosuba.jsonl
!public/backgrounds/cozynight.png
!public/backgrounds/getrest.png
!public/backgrounds/kingdom.png
!public/backgrounds/market.png
!public/backgrounds/noble1.png
!public/backgrounds/noble2.png
!public/backgrounds/ocean.png
!public/backgrounds/outdoor.png
!public/backgrounds/smokycity.png
!public/backgrounds/summer.png
!public/backgrounds/tavern.png
!public/backgrounds/theredlake.png
!public/backgrounds/warmtown.png
!public/backgrounds/waterflow.png
!public/backgrounds/whitesnow.png
!public/User Avatars/legat.png
!public/User Avatars/you1.png
public/characters/folders.json
public/characters/folders.json
public/settings.json
!public/System Prompts/Chat Classic.json
!public/System Prompts/Room Classic.json
public/rooms/Konosuba.jsonl
public/settings.json
public/characters/folders.json
