node_modules\*
node_modules/*
public/characters/*
!public/characters/Megumin.webp
!public/characters/Darkness.webp
!public/characters/Aqua.webp
public/chats/*
uploads/*
public/settings.json
.vscode/launch.json
